<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit todo</title>
</head>
<form action=<%='/todos/'+ todo[0].id%> method="POST">
  <input type="hidden" name="_method" value="PUT">
  <input type="text" name="todo" value=<%=todo[0].todo %>/>
  <input type="text" name="description" value=<%=todo[0].description %>/>
  <input type="submit" value="edit todo">
</form>
</html>

