<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .todo{
      /* background: rgb(191, 219, 134); */
      width: 25%;
      text-align: center;
      margin: 0 auto;
      text-transform: uppercase;
      padding: 1rem;
      box-shadow: 2px 2px 5px 3px rgba(0,0,0.5), -2px -2px 5px 3px rgba(0,0,0.5);
      }
  a{
      font-size: 1.5rem;
      text-decoration: none;
      margin: .4rem;
    }
  </style>
</head>
<body>
  <div class="todo">
    <h1 class="name">Task: <%=todo[0].todo%></h1>
    <p class="description">Description: <%=todo[0].description%></p>
    <a href=<%='/todos/'+ todo[0].id + '/edit'%>>&#x270E;</a>
    <form action="/todos/<%= todo[0].id%>/delete" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit">&#10008;</button>
    </form>
    <!-- <a href=></a> -->
  </div>
</body>
</html>